.container {
	display: none;
	width: 600px; 
	margin: 50px auto;
	border: 1px solid black;
	border-radius: 10px;
	padding: 30px 30px 70px 30px;
}

.table {
	display: table;
	margin: 0 auto;
}

.item {
	display: table-row;
}

.label {
	display: table-cell;
	padding-right: 30px;	
	vertical-align: top;
    padding-top: 10px;
}

.editor {
	margin-bottom: 15px;
}

.time > div {
	display: inline-block;
	padding-right: 5px;
}

.button {
	float: right;
	margin-top: 15px;
}

.timer {
	margin-bottom: 25px;
}

.text {
	margin-bottom: 25px;
}

.dx-texteditor.dx-state-readonly {
    border-color: black;
}